*, *::before, *::after
{
    /* Enables border box model on all elements. */
    box-sizing: border-box;
}

html, body, #root
{
    height: 100%;
    margin: 0;
    padding: 0;
    outline: 0;

    /* Shared variables */
    --background-color: #efefef;
    --background-color-alt: #dedede;
    --background-color-dark: #222;

    --text-font: "Fira Sans", sans-serif;
    --text-color: #222;
    --text-color-lighter: #555;
    --text-color-disabled: #888;
    --text-color-inv: #efefef;
    --accent-color: #e57373;

    --text-size: 18px;
    --grid-size: 25px;

    font-family: var(--text-font);
    font-size: var(--text-size);
    line-height: var(--grid-size);
    color: var(--text-color);

    background-color: var(--background-color);
}

.application
{
    height: 100%;
    display: flex;
}

h1, h2, h3
{
    line-height: calc(2 * var(--grid-size));
}

h1
{
    margin: 0 0 var(--grid-size) 0;
}

.sous-titre
{
    font-size: calc(1.25 * var(--text-size));
    font-variant: small-caps;
    color: var(--text-color-lighter);

    margin-top: -1em;
    margin-bottom: 2em;
}

a
{
    color: var(--text-color-lighter);
    cursor: pointer;
    text-decoration: none;
}

a:hover
{
    color: inherit;
}

/**
 * Saisie
 */

.saisie
{
    width: 25%;
    padding: calc(2 * var(--grid-size));
    background: var(--background-color-alt);
}

textarea
{
    font-family: var(--text-font);
    font-size: var(--text-size);

    background: white;
    resize: vertical;

    border: 0;
    padding: calc(.5 * var(--grid-size)) var(--grid-size);
    width: 100%;
}

.exemples li
{
    color: var(--text-color-lighter);
    cursor: pointer;
}

.exemples li:hover
{
    color: inherit;
}

/**
 * Résultat
 */

.résultat
{
    width: 75%;
    display: flex;
    flex-direction: column;
}

.onglets
{
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    height: calc(3 * var(--grid-size));
    line-height: calc(3 * var(--grid-size));
}

.onglets li
{
    width: 50%;
}

.onglets span
{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: pointer;
}

.onglets .actif
{
    border-bottom: 5px solid var(--accent-color);
    font-weight: bold;
}

.affichage
{
    background: white;
    height: 100%;
    overflow: auto;
}

.affichage.matrice
{
    padding: calc(2 * var(--grid-size));
}

.affichage.arbre div
{
    height: 100%;
    position: relative;
}

.affichage.arbre .control
{
    position: absolute;
    left: var(--grid-size);
    top: var(--grid-size);
    z-index: 1000;
}

.affichage.arbre .button
{
    --size: calc(1.5 * var(--grid-size));

    background: var(--background-color);
    display: inline-block;

    height: var(--size);
    line-height: var(--size);
    width: var(--size);
    text-align: center;

    cursor: default;
}

.affichage.arbre .button.active
{
    cursor: pointer;
}

.affichage.arbre .button.active:hover
{
    background: var(--background-color-alt);
}

.affichage.arbre .status
{
    padding: 0 var(--grid-size);
}

.nodeNameBase
{
    stroke: none !important;
}

.invalide
{
    padding: calc(2 * var(--grid-size));
    text-align: center;

    height: 100%;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: calc(1.5 * var(--text-size));
    color: var(--text-color-disabled);
}

.matrice
{
    border-collapse: collapse;
}

.matrice td
{
    border: 1px solid var(--background-color-dark);
    min-width: 10em;
    padding: 1em;
}

.matrice tr:nth-child(1)
{
    background-color: var(--background-color-dark);
    color: var(--text-color-inv);
    text-align: center;
}

.matrice tr:nth-child(2n)
{
    background-color: var(--background-color);
}

.matrice ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.matrice .active
{
    background: var(--background-color-alt);
    font-weight: bold;
}
